API_KEY='123456789'
JELLY_DOMAIN='https://jellyfin.example.org'
EXCLUDED_USERS='["7654345678", "98765432"]' # IDs of users to be excluded by pollster
DROP_EXCLUDED_USERS='true' # Delete already inserted excluded users from database?