body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.last_updated {
    text-align: center;
    margin-top: 0;
}

.tables-container {
    display: flex;
    justify-content: flex-start;
    gap: 3%;
    margin-top: 20px;
}